/* This is the site-wide CSS file
See https://styleguide.iu.edu/visual-style/colors.html for the IU color guide */
body {
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar {
  margin-bottom: 0;
  background-color: maroon;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.nav li {
  margin-top: 5px;
  /* ensure that the margin does not clip into the next menu item in the mobile menu */
  overflow: auto;
  border-right: 1px solid lightgray;
}
.nav li:last-child {
  border-right: none;
}
.nav li a {
  margin: 5px 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}
.nav li a:hover {
  margin-bottom: 0px;
  border-bottom: 5px solid lightgray;
}

.nav .dropdown-menu li {
  border-right: none;
}
.nav .dropdown-menu li a {
  border-right: none;
  color: #fdeee8;
}
.nav .fas {
  color: #fdeee8;
  font-size: 36px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: maroon !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.index-start {
  margin-bottom: 0;
}

.index-about {
  background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index-status {
  #background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index-getInvolved {
  #background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}
.index-officers {
  background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index-calendar {
  background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

index-calendar {
  #background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index-resources {
  #background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.index-resource {
  background-color: #fdeee8;
  width: 100%;
  margin: 0;
  padding: 0;
}

.resourcebox{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.resourceitem{
  width: 35rem;
}

.resourceSection {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.about-body {
  padding: 30px 0px 30px 0px;
}

.status {
  padding: 30px 0px 30px 0px;
}

.status-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.status-badges {
  display: flex;
  flex-direction: column;
  justify-content: Center;
  padding-right: 10px;
  padding-left: 10px;
  width: 20rem;
  border: solid black;

}

.status-badges-container {
  display: flex;
  flex-direction: row;
  #justify-content: flex-start;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-right: 10px;
}

.officers-body {
  padding: 30px 0px 30px 0px;
}

.form-container {
  background-color: #fdeee8;
  }

.container-warning {
  background-color: gold;
  text-align: center;
  position: relative;
  width: auto;
  margin: 0;
  padding: 0.15%;
  border-radius: 5px;
}
.subtitle {
  text-align: center;
}
/************************** CAROUSEL **********************************/
.carousel-caption {
  position: absolute;
  left: 0;
  width: 80%;
  top: 6%;
  margin-left: 10%;
}
.carousel-caption h1 {
  font-size: 50px;
  text-shadow: 3px 2px maroon;
}
.carousel-caption .space {
  padding-top: 75px;
}
.carousel-caption .btn {
  padding: 15px 15px 15px 15px;
}
.tab-header {
  /*background-color: maroon;*/
  height: auto;
  width: auto;
  margin: 0;
}

.tab-header h3 {
  background-color: #fff;
  color: maroon;
  padding: 35px 25px 35px 25px;
  margin: 35px 5px 35px 5px;
  text-align: center;
  border: 5px solid maroon;
}

.tab-header h3:hover {
  padding: 35px 35px 35px 25px;
}

.tab-header h3:first-child,
.tab-header h3:last-child {
  margin-right: 0;
  margin-left: 0;
}

.tab-header a {
  text-decoration: none;
  color: maroon;
}
footer {
  background-color: maroon;
  color: white;
}

footer .bml {
  padding: 25px 25px 25px 25px;
}


.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-left: 10px;
}

p {
  margin-left: 10px;
}

.btn-primary {
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .nav li a {
    margin-right: 15px;
    margin-left: 15px;
  }
  .tab-header h3 {
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .nav li a {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 991px) {
  .nav li a {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .carousel-caption h1 {
    font-size: 35px;
  }
}


@media (max-width: 767px) {
  .nav li {
    border-right: none !important;
  }
}

@media (max-width: 540px) {
  .carousel-caption h1 {
    font-size: 25px;
  }
}
