<div class="container about-body">
    <h2>ABOUT US</h2>
    <p>The mission of the Computer Security Group is to:</p>
        <ol>
        <li>Provide its members with technical education and hands on experience while creating connections to the real-world industry</li>
        <li>Educate the public about security awareness</li>
        <li>Enhance the reputation of the university by supplying the industry with trained professionals in the field of Cyber Security and participating in national security competitions</li></ol>
        <p>To get involved, attend one of our scheduled meetings as indicated on our <a href="#schedule">calendar</a> or use the <a href="#Interest Form">form</a> down below to get put on our mailing list.</p>
</div>