<div class="container about-body">
    <h2 class="subtitle" >About Us</h2>
    <h4 class="subtitle">The mission of the Computer Security Group is to:</h4>
    <ol>
        <li>Provide its members with technical education and hands on experience while creating connections to the real-world industry</li>
        <li>Educate the public about security awareness</li>
        <li>Enhance the reputation of the university by supplying the industry with trained professionals in the field of Cyber Security and participating in national security competitions</li>
    </ol>
</div>