<div class="space"></div>
<section class="tab-header">                  
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <h3><a href="#about">ABOUT</a></h3>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <h3><a href="#officers">OFFICERS</a></h3>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <h3><a href="#schedule">SCHEDULE</a></h3>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <h3><a href="#Interest Form">SIGN-UP FORM</a></h3>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <h3><a href="#resources">RESOURCES</a></h3>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <h3><a href="index2.html">CSGLABS</a></h3>
            </div>
        </div>                   
</section>