<div class="carousel-caption">
    <div class="presentation">
        <h1>Welcome to the Computer Security Group at IU Southeast</h1><br>
    </div>
    <div class="space"></div>
    <section class="tab-header">
        <div class="row">
            {% include carousel-caption-box.html label="ABOUT" href="#about" %}
            {% include carousel-caption-box.html label="GET INVOLVED" href="#get involved" %}
            {% include carousel-caption-box.html label="OFFICERS" href="#officers" %}
            {% include carousel-caption-box.html label="SCHEDULE" href="#schedule" %}
            {% include carousel-caption-box.html label="RESOURCES" href="#resources" %}
            {% include carousel-caption-box.html label="CSLABS" href="/cslabs" %}
        </div>
    </section>
</div>

