<div class="container schedule-body">
    <div class="row">
        <section class="col-sm-12">
            <h2>Get Involved</h2>
            <p>Interested in getting involved in the CSG? <br /><br /><a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSe4G1Dl1mrnlTnKrIXhlsAmsvUzTmCNywHFqcVDVnXx3fH4Pg/viewform">Fill out our interest form</a> <a class="btn btn-primary" href="https://list.ius.edu/sympa/subscribe/csg-announce-l">Join our mailing list</a> <a class="btn btn-primary" href="index.html#schedule">Attend an event</a></p>
        </section>       
    </div>
</div>