<div class="container schedule-body">
    <div class="row">
        <section class="col-sm-12">
            <h2>Get Involved</h2>
            <p>Interested in getting involved in the CSG? </p>
        <p class="flexlabel">
            <a class="btn btn-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSe4G1Dl1mrnlTnKrIXhlsAmsvUzTmCNywHFqcVDVnXx3fH4Pg/viewform">Fill out our interest form</a> 
            <a class="btn btn-primary" href="https://list.ius.edu/sympa/subscribe/csg-announce-l">Join our mailing list</a>
            <a class="btn btn-primary" href="https://trello.com/invite/iuscomputerscigroup/9c12b7af83c5e84cef44fdb5d1f2d9e5">Join our Tello boards</a>
            <!-- <a class="btn btn-primary" href="index.html#schedule">Attend an event</a> -->
            <a class="btn btn-primary" href="https://discord.gg/XGfzKxA">Join our Discord Server</a>
            <!-- <a class="btn btn-primary" href="index.html#resources">Read our recommended resources</a> -->
            <a class="btn btn-primary" href="https://www.youtube.com/channel/UClEhZKB9uklUQeW9YJYfuTg/featured"> Take a look at our Youtube Channel</a>
        </p>
            <div>
                <p>Interested in playing games with other students at IUS? </p>
                <p class="flexlabel">
                    <a class="btn btn-primary" href="https://discord.gg/rKbdJqYU">Esports Discord</a>
                </p>
            </div>
        </section>       
    </div>
</div>
