<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../assets/images/iuslogo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css" >
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <title>{{ site.title }}</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#officers">OFFICERS</a></li>
                <li><a href="#schedule">SCHEDULE</a></li>
                <li><a href="#">LABS</a></li>
                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PROJECT
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color:maroon">
                          <li><a href="#">Current Projects</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Past Projects</a></li>
                        </ul>
                      </li>
                <li><a href="#">COMPETITION</a></li>
            </ul>
            </div>
        </div>
    </nav>
</body>
</html>

<style>
  
</style>

<!--<img src="../assets/images/iuslogo.png" width="84" height="64" style="margin-top: -15px;" alt="{{ site.title }}"></img><b style="color: white; padding-top: 55px;">CS GROUP</b>-->