<div class="container officers-body">
    <div class="row">
            <h2>OFFICERS</h2>
        <section class="col-sm-4">
            <br>
            <p>The CSG is governed by a group of five officers, elected yearly from the body of members. <br /> <br /> Interested in becoming an officer? Check out the CSG Constitution to learn how.</p>
        </section>
        <section class="col-sm-8">   
            {% for person in site.data.people %}
                <h3>{{ person.name }}, {{ person.occupation }}</h3> {{ person.description }} <br>Contact: {{ person.contact }}<br>
            {% endfor %}
        </section>         
    </div>
</div>