<style>

    .officer {
        padding: .5rem;
    }

    .officer__name {
        padding-right: 2rem;
    }

    .officer__content {
        display: flex;
        align-items: flex-start;
        padding: 10px;
    }
    .officer__content__portrait {
        margin-right: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(0,0,0);
        height: 75px;
        width: 60px;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>


<div class="container officers-body">
    <div class="row">
            <h2 class="subtitle">Officers</h2>
        <section class="col-sm-4">
            <br>
            <p>The CSG is governed by a group of five officers, elected yearly from the body of members.<br/><br/>
                Interested in becoming an officer?
                Check out the <a href="https://github.com/ius-csg/laws/releases/latest/download/Constitution.pdf">CSG Constitution</a> to learn how.
            </p>
        </section>
        <section class="col-sm-8">
            {% for person in site.data.people %}
                <div class="officer">
                    <h3 class="officer__name">{{ person.name }}, {{ person.occupation }}</h3>
                    <div class="officer__content">
                        <!-- A div must be used in order to provide a cropped version of the image with the aspect ratio retained -->
                        <div style="background-image: url('../assets/images/officers/{{person.occupation}}.jpg');" class='officer__content__portrait'></div>
                        <p>
                            {{ person.description }} <br>
                            Contact: {{ person.contact }} <br/>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <!--{% for person in site.data.people %}
                <h3>{{ person.name }}, {{ person.occupation }}</h3> <p>{{ person.description }} <br>Contact: {{ person.contact }}<br></p>
            {% endfor %} -->
        </section>
    </div>
</div>
