<div>
    <h2 class="resourceSection">Resources</h2>
    <div class="resourcebox">
        <h4>Reading</h4>
        <ul style="list-style-type: disc; ">
            <li>
                <a href="https://www.youtube.com/playlist?list=PLB8wiCkY95dldgdGp4o1-KKqkb2AM5GSK">Intro to Quantum Computing Playlist </a> by CSG Member: Zac Clifton
            </li>
            <li>
                <a href="https://www.sans.org/webcasts/physical-security-thats-wrong-typical-door-103542">The SANS Physical Security webcast w/ Deviant Ollam</a>
            </li>
            <li>
                <a href="https://overthewire.org/wargames/">Over The Wire</a> an introductory capture the flag (CTF) website
            </li>
            <li>
                <a href="https://www.youtube.com/playlist?list=PLtK75qxsQaMLZSo7KL-PmiRarU7hrpnwK">The Linux Basics YouTube course</a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/sysadmin/">r/Sysadmin</a> a subreddit dedicated to Systems Adminstration
            </li>
            <li>
                <a href="https://news.ycombinator.com/">HackerNews</a> a technology news aggregator
            </li>
            <li>
                <a href="https://ctflearn.com">CTFLearn</a> another CTF practice site
            </li>
        </ul>
        <h4>Competitions</h4>
        <ul class="resourceitem">
            <li>
                <a href="https://open.kattis.com/">Kattis (ICPC)</a> &mdash; The International Collegiate Programming Contest is team based competion where a group of three try to complete as many programing based problems as they can.
            </li>
            <br/>
            <li>
                <a href="https://www.nationalccdc.org/">CCDC</a> &mdash; The Collegiate Cyber Defense Competition is a red team versus blue team competition where students square off with a professional red team in a live environment while completing business tasks.
            </li>
            <br/>
            <li>
                <a href="https://www.nationalcyberleague.org/">NCL</a> &mdash; The National Cyber League is the first steps into learning cybersecurity, where the participates are guided through all topics in cybersecurity.
            </li>
            <li>
                <a href="https://www.hivestorm.org/">HiveStorm</a> &mdash; The Hivestorm competition is a cyber defense, where groups of 4 participates have to secure windows and linux vms by reconfiguring and cleaning them from viruses and malware.
            </li>
            <br/>
        </ul>
    </div>
</div>
