<div>
    <h2 style="display: flex; text-align: center; flex-direction: column;">Resources</h2>
    <div class="resourcebox">
        <h4>Reading</h4>
        <ul style="list-style-type: disc; ">
            <li>
                <a href="https://greatscottgadgets.com/hackrf/">Great Scott Gadgets</a> for Software-Defined Radio.
            </li>
            <li>
                <a href="https://overthewire.org/wargames/">Over The Wire</a> for Capture the flag.
            </li>
            <li>
                <a href="http://www.doc.ic.ac.uk/~wjk/UnixIntro//">An intro to linux</a>.
            </li>
            <li>
                <a href="https://www.reddit.com/r/sysadmin/">Topics on system administration</a>.
            </li>
            <li>
                <a href="https://news.ycombinator.com/">Computer News</a> for everyone.
            </li>
            <li>
                <a href="https://ctflearn.com">Capture the Flags</a> for learning some basic attacks.
            </li>
        </ul>
        <h4>Competitions</h4>
        <ul class="resourceitem">
            <li>
                <a href="https://open.kattis.com/">Kattis (ICPC)</a> -- The International Collegiate Programming Contest is team based competion were a group of three people go and try to complete as many programing based problems as they can.
            </li>
            <br/>
            <li>
                <a href="https://www.nationalccdc.org/">CCDC</a> -- The Colegent Cyber Defence Competion is a team based competition were the team is dropped into a live environment that is being actively hacked. 
            </li>
            <br/>
            <li>
                <a href="https://www.nationalcyberleague.org/">NCL</a> -- The National Cyber League is the first steps into learning cybersecurity, were the participates are guided through all topics in cybersecurity.
            </li>
            <br/>
        </ul>
    </div>
</div>