<div class="container">
    <div class="row">
        <section class="col-sm-12">
            <h2>CSG Statuses</h2>
            <div class="status-badges-container">
                <div class="status-badges">
                    <h4 style="display: flex; justify-content: center;">CSG WEBSITE</h4>
                    <!--<img style="padding-bottom: 10px; justify-content: center; width: 11rem;" src="https://img.shields.io/uptimerobot/status/m784244773-2598bff0a50463e8c83388b9?label=CSG%20Website&style=for-the-badge"/>-->
                    <img style="padding-bottom: 10px; justify-content: center;" alt="Website sla" src="https://img.shields.io/uptimerobot/ratio/m784244773-2598bff0a50463e8c83388b9?label=CSG%20Website&style=for-the-badge"/>
                </div>
                <div class="status-badges">
                    <h4 style="display: flex; justify-content: center;">CSG CLOUD PROXY</h4>
                    <img style="padding-bottom: 10px; justify-content: center; width: 11rem;" alt="Proxy status" src="https://img.shields.io/uptimerobot/status/m784257708-9ca454dbf8388285005e82c8?label=CSG%20PROXY&style=for-the-badge"/>
                    <img style="padding-bottom: 10px; justify-content: center;" alt="Proxy sla" src="https://img.shields.io/uptimerobot/ratio/m784257708-9ca454dbf8388285005e82c8?label=CSG%20Website&style=for-the-badge"/>
                </div>
                <div class="status-badges">
                    <h4 style="display: flex; justify-content: center;" >CSGVPN</h4>
                    <img style="padding-bottom: 10px; justify-content: center; width: 10rem;" alt="VPN Status" src="https://img.shields.io/uptimerobot/status/m784370903-52c3beccd9f6b7bccdd2bd35?label=CSGVPN&style=for-the-badge"/>
                    <img style="padding-bottom: 10px; justify-content: center;" alt="VPN Website" src="https://img.shields.io/uptimerobot/ratio/m784370903-52c3beccd9f6b7bccdd2bd35?label=VPN%20Uptime&style=for-the-badge"/>
                </div>
                <div class="status-badges">
                    <h4 style="display: flex; justify-content: center;">CSLABS</h4>
                    <img style="padding-bottom: 10px; justify-content: center; width: 10rem;" alt="CSLabs status" src="https://img.shields.io/uptimerobot/status/m784257766-a4f3b2ead46e6467c32efa22?label=CSLabs&style=for-the-badge"/>
                    <img style="padding-bottom: 10px; justify-content: center;" alt="CSlabs sla" src="https://img.shields.io/uptimerobot/ratio/m784257766-a4f3b2ead46e6467c32efa22?label=CSLabs%20Uptime&style=for-the-badge"/>
                </div>
            </div>
        </section>
    </div>
</div>
