---
layout: "wrapper"
---

<section id="home" class="index-start">
    {% include carousel.html %}
</section>

<section id="about" class="index-about">
    {% include aboutus.html %}
</section>

<section id="get involved" class="index-getInvolved">
    {% include getinvolved.html %}
</section>

<section id="schedule" class="index-calendar" >
    {% include calender.html %}
</section>

<section id="status" class="index-status">
    {% include status.html %}
</section>

<section id="officers" class="index-officers">
    {% include officer.html %}
</section>

<section id="resources" class="index-resources">
        {% include resources.html %}
</section>