---
layout: "wrapper"
---

<!---<h1 class="text-center">WELCOME TO IUS CS GROUP</h1>-->
<section id="home" class="index-start">
    {% include carousel.html %}
</section>

<!--<section class="tab-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3><a href="#about">ABOUT US</a></h3>
            </div>
            <div class="col-sm-3">
                <h3><a href="#officers">OFFICERS</a></h3>
            </div>
            <div class="col-sm-3">
                <h3><a href="#schedule">SCHEDULE</a></h3>
            </div>
            <div class="col-sm-3">
                <h3><a href="">LABS</a></h3>
            </div>
        </div>
    </div>
</section>-->

<section id="about" class="index-about">
    {% include aboutus.html %}
</section>

<section id="get involved">
    {% include getinvolved.html %}
</section>

<section id="officers" class="index-officers">
    {% include officer.html %}
</section>

<section id="schedule" class="calendar-container">
        {% include calender.html %}
</section>

<section id="resources" class="index-resource">
        {% include resources.html %}
</section>