---
layout: "wrapper"
---
<div style="padding: 5rem; ">
    <div style="padding: 1rem;border: thin solid black;">
        <h2 style="text-align: center"><b>Policy and Procedures</b></h2>
        <p>This page describes the Computer Science Groups purpose and regulations for providing a great experience to its members.
        The members and guests to any formally accounted meeting of the Computer Science are expected to understand and follow the policies on this page.<br/>
        Any other questions on the groups, philosophy and expectations for the group as a whole can be found in our <a href="https://github.com/ius-csg/laws/releases/latest/download/Constitution.pdf">Constitution and bylaws</a>.
        </p>
        <br/>
        <h4><b>Policy for Users Granted Intranet Access</b></h4>
        <br/>
        <h5><b>Password policy should contain:</b></h5>
        <p> The password policy is made due to the specific nature of the user’s access to sensitive material
            for Computer Science Group (CSG) in order to prevent unauthorized users. For a user to access and
            maintaining CSG systems network it is imperative that the user have an appropriate password, store it in a
            secure location and that no unauthorized user has access to their account information for CSG. The policy
            addresses the required criteria for a strong password, what is considered a secure location, in the event an
            unauthorized user obtains the user’s credentials what steps need to be taken and what the process of the
            CSG when a user is transitioned out of maintaining the network.
        </p>
        <h5><b>PASSWORD REQUIREMENTS:</b></h5>
        <ul>
            <li>At least 8 characters in length</li>
            <li>Uppercase letter</li>
            <li>Lowercase letter</li>
            <li>Special character</li>
            <li>A number</li>
        </ul>
        <h5><b>SECURE LOCATION:</b></h5>
        <p>A secure location is where another can not have access to your password or accidentally stumble
        upon it. It is recommended to not write it on a piece of paper, but possibly keep it in a location where the
            user has easy access to their password.</p>
        <h5><b>UNAUTHORIZED ACCESS:</b></h5>
        <p>If it is determined that an unauthorized user has accessed the user’s password, change password
            and immediately notify the CSG officers.</p>
        <h5><b>GRADUATE OR INACTIVE MEMBERS USER:</b></h5>
        <p>Once a user graduates, a member drops out of school at Indiana University Southeast will have their accounts deleted from the network.
            A member that is inactive for more then one year may have their account deleted from the network at the officers discretion.
        </p>
    </div>
</div>